<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Preguntas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon"/>
  </head>
  <body>
    <div id="page-wrap">
      <h1>Gran <%= title %></h1>
        <p>Bienvenido a nuestro gran <%= title %> de preguntas</p>
        <span><a href="/quizes/question">¡Comience a jugar!</a></span>
        <span><a href="/">Inicio</a></span>
      <footer class="main" id="f1">
        <a href="http://es.wikipedia.org/wiki/Quiz">¿Que es un Quiz?</a>
      </footer>
    </div>
  </body>
</html>