<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Gran <%= title %></h1>
    <p>Bienvenido a nuestro gran <%= title %> de preguntas</p>
  </body>
</html>
