<p>Bienvenido a nuestro gran <%= title %> de preguntas</p>
        <span><a href="/quizes/question">¡Comience a jugar!</a></span>
      <footer class="main" id="f1">
        <a href="http://es.wikipedia.org/wiki/Quiz">¿Que es un Quiz?</a>
      </footer>