body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(images/Quiz_Image.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}
a {
  color: #00B7FF;
}